{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Articles by {{ author }}{% endblock %}

{% block opengraph %}
    {{ super() }}
    <meta property="og:title" content="{{ SITENAME }} - Articles by {{ author }}">
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="{{ author.name.split(' ')[0] }}">
    <meta property="profile:last_name" content="{{ author.name.split(' ')[1:]|join(' ') }}">
    <meta property="profile:username" content="{{ author.slug }}">
{% endblock opengraph %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="blog-header" class="has-cover">
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
            <span class="blog-logo">
                <a href="{{ SITEURL }}"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
            </span>
          {% else %}
            <span id="home-button" class="nav-button">
                <a class="home-button" href="{{ SITEURL }}" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
            </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
        {% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
            <div class="blog-cover cover" style="background-image: url('{{ AUTHORS_BIO[author.name.lower()].cover }}')">
        {% elif HEADER_COVER %}
            <div class="blog-cover cover" style="background-image: url('{{ HEADER_COVER }}')">         
        {% elif HEADER_COLOR %}
            <div class="post-cover cover" style="background-color: {{ HEADER_COLOR }}">
        {% else %}
            <div class="post-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')">
        {% endif %}
      </div>
    </header>

    {% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
    <section id="blog-author" class="has-cover" >
        <div class="inner">
            <aside class="post-author">
                {% if AUTHORS_BIO[author.name.lower()].image %}
                    <figure class="post-author-avatar">
                        <img src="{{AUTHORS_BIO[author.name.lower()].image}}" alt="{{author.name | capitalize}}" />
                    </figure>
                {% endif %}
                <div class="post-author-bio">
                    <h4 class="post-author-name"><a href="{{ SITEURL }}/{{author.url}}">{{author.name | capitalize}}</a></h4>
                    {% if AUTHORS_BIO[author.name.lower()].bio %}
                        <p class="post-author-about">{{AUTHORS_BIO[author.name.lower()].bio}}</p>
                    {% endif %}
                    {% if AUTHORS_BIO[author.name.lower()].location %}
                        <span class="post-author-location"><i class="ic ic-location"></i> {{AUTHORS_BIO[author.name.lower()].location}}</span>
                    {% endif %}
                    {% if AUTHORS_BIO[author.name.lower()].website %}
                        <span class="post-author-website"><a href="{{AUTHORS_BIO[author.name.lower()].website}}"><i class="ic ic-link"></i> Website</a></span>
                    {% endif %}
                    {% if AUTHORS_BIO[author.name.lower()].twitter %}
                        <span class="post-author-twitter"><a target="_blank" href="https://twitter.com/{{AUTHORS_BIO[author.name.lower()].twitter}}"><i class="ic ic-twitter"></i> Twitter</a></span>
                    {% endif %}
                    {% if AUTHORS_BIO[author.name.lower()].facebook %}
                        <span class="post-author-facebook"><a target="_blank" href="https://facebook.com/{{AUTHORS_BIO[author.name.lower()].facebook}}"><i class="ic ic-facebook"></i> Facebook</a></span>
                    {% endif %}
                        <span class="post-author-stats"><i class="ic ic-posts"></i> {{ articles|count }} {% if articles|count > 1 %} posts {% else %} post {% endif %}</span>
                </div>
                <div class="clear"></div>
            </aside>
        </div>
    </section>
    {% endif %} 

{% endblock header %}
