<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {% if GOOGLE_SITE_VERIFICATION %}
  <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}">
  {% endif %}

  <title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>

  {% if SITE_DESCRIPTION %}
  <meta name="description" content="{{SITE_DESCRIPTION}}" />
  {% endif %}

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="origin" />
  <meta name="generator" content="Pelican" />
  <link href="{{ SITEURL }}" rel="canonical" />

  <!-- Feed -->
  {% for name,link in SOCIAL if name.lower() in ['rss', 'rss-square', 'feed'] %}
      <link href="{{ link }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% else %}
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
      {% endif %}
      {% if FEED_ALL_RSS %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
      {% endif %}
      {% if FEED_ATOM %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
      {% if CATEGORY_FEED_ATOM and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
      {% endif %}
      {% if CATEGORY_FEED_RSS and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
      {% endif %}
      {% if TAG_FEED_ATOM and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
      {% endif %}
      {% if TAG_FEED_RSS and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
      {% endif %}
  {% endfor %}

  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />

  <!-- Code highlight color scheme -->
  {% if COLOR_SCHEME_CSS %}
      <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
  {% else %}
      <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/github.css" rel="stylesheet">
  {% endif %}

  {% if CSS_OVERRIDE %}
    <!-- CSS specified by the user -->
    {% for css in CSS_OVERRIDE %}
    <link href="{{ SITEURL }}/{{ css }}" type="text/css" rel="stylesheet" />
    {% endfor %}
  {% endif %}

  <!-- Custom fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300' rel='stylesheet' type='text/css' />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% endblock head %}

  {% block opengraph %}
    {% for admin in FACEBOOK_ADMINS %}
      <meta property="fb:admins" content="{{ admin }}" />
    {% endfor %}
    {% for LOC in LOCALE %}
      <meta property="og:locale" content="{{ LOC }}" />
    {% endfor %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:description" content="{{ SITESUBTITLE|default('View the blog.') }}" />
    <meta property="og:url" content="{{ SITEURL }}" />
    {% if HEADER_COVER %}
      <meta property="og:image" content="{{ SITEURL }}/{{ HEADER_COVER }}" />
    {% else %}
      <meta name="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
    {% endif %}
    {% for name,link in SOCIAL if name.lower() in ['facebook'] %}
      <meta property="article:publisher" content="{{ link }}" />
    {% endfor %}
  {% endblock opengraph %}
  {% block twitter_card %}
    {% for name,link in SOCIAL if name.lower() in ['twitter'] %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
      <meta name="twitter:title" content="{{ SITENAME }}">
      <meta name="twitter:description" content="{{ SITESUBTITLE|default('View the blog.') }}">
      <meta name="twitter:url" content="{{ SITEURL }}">
        {% if HEADER_COVER %}
          <meta name="twitter:image:src" content="{{ SITEURL }}/{{ HEADER_COVER }}">
        {% else %}
          <meta name="twitter:image:src" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
        {% endif %}
    {% endfor %}
  {% endblock twitter_card %}
</head>
<!-- TODO : Body class -->
<body class="home-template">

  {% include 'partials/navigation.html' %}

  {% block header %}{% endblock header %}

  <section id="wrapper">
    <a class="hidden-close"></a>
      {% block content %}{% endblock content %}
    <div id="body-class" style="display: none;" class="{{body_class}}"></div>
  
    <footer id="footer">
      <div class="inner">
        <section class="credits">
          <span class="credits-theme">
            <a href="https://benning.design/projects/hun" rel="nofollow">Hun</a> 
            by <a href="https://benning.design">Benning.Design</a>
            {% if article.cover_credits %}
             | Cover photo by <a href="{{article.cover_source}}">{{article.cover_credits}}</a>
            {% endif %}
          </span>
          <span class="credits-software">Published with <a href="https://github.com/getpelican/pelican" rel="nofollow">Pelican</a></span>
        </section>
      </div>
    </footer>
  </section>

  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/script.js"></script>
  
  {% if JS_OVERRIDE %}
    <!-- Script specified by the user -->
    {% for js in JS_OVERRIDE %}
    <script type="text/javascript"  src="{{ SITEURL }}/{{ js }}"></script>
    {% endfor %}
  {% endif %}
  {% include 'partials/analytics.js' %}
  {% include 'partials/disqus.js' %}
</body>
</html>
